<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.cn.mybatis.test1.dao.userMapper"就是com.cn.mybatis.test1.dao(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.manhua.yuanzi.dao.AdminDao">
    <!-- 根据账户名和密码，查询得到一个admin对象 -->
	<select id="login" resultType="Admin">
		select * from admin where username=#{username} and password=#{password}
	</select>


	<!-- 根据账id，查询得到一个admin对象 -->
	<select id="selectAdminById" resultType="Admin">
		select * from admin where id=#{id}
	</select>
</mapper>